<p><strong>Bulk Discount Into: </strong></p>
<p><strong> Quantity threshold:</strong> <%= @bulk_discount.quantity %>, <strong>Percentage discount:</strong> <%= number_to_percentage(@bulk_discount.discount*100, precision: 0) %></p>