
<br><br><br><br><br>
<section id = "github_info">
<h3> About This Repository:</h3>
<% if !@facade.repo_data[:message] %>
  <h4>Repo Name:</h4>
  <p><%= @facade.create_repo.name %></p>
  <h4>Collaborators:</h4
     <% @facade.create_contributors.map do |contributor| %>
        <p><%= contributor.user_name %>: <%=contributor.contributions %> commits</p>
   <%end %>
<% else %>
  <%= @facade.repo_data[:message] %>
<% end %>
</section>
